<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>demo</title>
    <script src="./appData.js"></script>

</head>
<style>
    #app {
        text-align: center;
    }
</style>
<body>
    <div id="app">
        <h2>{{title}}</h2>
        <input v-model="name">
        <h1>{{name}}</h1>
        <input type="text" v-model="input" @keyUp="keyUp" @click="click">
        <button @click="clickMe">click me!</button>
    </div>
</body>
<script type="text/javascript">
     new Chao({
        el: '#app',
        data: {
            title: 'hello world',
            name: 'canfoo',
            input: '111111111'
        },
        mounted: function () {
            this.title = '你好'
        },
        methods: {
            clickMe: function () {
                this.title = 'hello world'
            },
            keyUp: function() {
                console.log("键盘抬起事件")
            },
            click: function() {
                console.log("点击事件")
            }
        }
        
    });

</script>
</html>
